@use "base" as *;

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.6rem 0;

  .footer-box {
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6rem;

    .footer__nav {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 2rem;

      .footer__nav--item {
        @extend %nav-item;
      }
    }
  }
}

@media only screen and (max-width: $mq4) {
  footer {
    padding: 1rem 0;

    .footer-box {
      flex-direction: column;
      gap: 2rem;
    }
  }
}

@media only screen and (max-width: $mq6) {
  footer {
    .footer-box {
      .footer__nav {
        gap: 1rem;

        .footer__nav--item {
          font-size: 14px;
        }
      }
    }
  }
}
