/*IMPORTING THE FONTS*/

@font-face {
  font-family: "Gotham-Light";
  src: url("/fonts/Gotham-Light.otf") format("otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gotham-Bold";
  src: url("/fonts/Gotham-Bold.otf") format("otf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Gotham-Medium";
  src: url("/fonts/Gotham-Medium.otf") format("otf");
  font-weight: 700;
  font-style: normal;
}

/*END IMPORTING FONTS*/
